@charset "utf-8";
/* CSS Document */

body{background-color:#8ba3b9; font-family:calibri, helvetica, sans-serif;}
h1, h2, h3, h4, h5, h6, p{margin:0; padding:0;}
img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@font-face {
    font-family: 'robotolight';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
.inner-page-top{min-height:74px; padding:0 15px; /*background-color:#fafbfc;*/background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEwMCAxMDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iaGF0MCIgZ3JhZGllbnRVbml0cz0ib2JqZWN0Qm91bmRpbmdCb3giIHgxPSI1MCUiIHkxPSIxMDAlIiB4Mj0iNTAlIiB5Mj0iLTEuNDIxMDg1NDcxNTIwMmUtMTQlIj4KPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y5ZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NjZTBmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgZmlsbD0idXJsKCNoYXQwKSIgLz4KPC9zdmc+);
background-image: -moz-linear-gradient(bottom, #f9fbfb 0%, #cce0f4 100%);
background-image: -o-linear-gradient(bottom, #f9fbfb 0%, #cce0f4 100%);
background-image: -webkit-linear-gradient(bottom, #f9fbfb 0%, #cce0f4 100%);
background-image: linear-gradient(bottom, #f9fbfb 0%, #cce0f4 100%);}
.inner-bg{background-color:#fff; min-height:200px; padding:15px; height:auto; -moz-box-shadow: 0 0 5px rgba(0,0,0,.39); -webkit-box-shadow: 0 0 5px rgba(0,0,0,.39); box-shadow: 0 0 5px rgba(0,0,0,.39); margin-bottom:25px; border-bottom:4px solid #a90329;}
.inner-page-top .logo{margin-top:8px;}
.top-title{margin:8px 0; text-align:right;}
.responsive-tabs h4{color:#933;border-bottom:1px dashed #666;font-size:15px; margin-bottom:15px; padding-bottom:10px;}
.responsive-tabs p{padding:10px;}


/*table-res-curved*/
.table-resp{min-height:.01%; overflow-x:auto;}
@media screen and (max-width:767px){.table-resp{width:100%;margin-bottom:15px;overflow-y:hidden;-ms-overflow-style:-ms-autohiding-scrollbar;border:1px solid #e2edf4; border-radius:5px;}.table-resp>.table{margin-bottom:0}.table-resp>.table>tbody>tr>td,.table-resp>.table>tbody>tr>th,.table-resp>.table>tfoot>tr>td,.table-resp>.table>tfoot>tr>th,.table-resp>.table>thead>tr>td,.table-resp>.table>thead>tr>th{white-space:nowrap}.table-resp>.table-bordered{border:0}.table-resp>.table-bordered>tbody>tr>td:first-child,.table-resp>.table-bordered>tbody>tr>th:first-child,.table-resp>.table-bordered>tfoot>tr>td:first-child,.table-resp>.table-bordered>tfoot>tr>th:first-child,.table-resp>.table-bordered>thead>tr>td:first-child,.table-resp>.table-bordered>thead>tr>th:first-child{border-left:0}.table-resp>.table-bordered>tbody>tr>td:last-child,.table-resp>.table-bordered>tbody>tr>th:last-child,.table-resp>.table-bordered>tfoot>tr>td:last-child,.table-resp>.table-bordered>tfoot>tr>th:last-child,.table-resp>.table-bordered>thead>tr>td:last-child,.table-resp>.table-bordered>thead>tr>th:last-child{border-right:0}.table-resp>.table-bordered>tbody>tr:last-child>td,.table-resp>.table-bordered>tbody>tr:last-child>th,.table-resp>.table-bordered>tfoot>tr:last-child>td,.table-resp>.table-bordered>tfoot>tr:last-child>th{border-bottom:0}}
/*table end*/
/*------------------------------------------tabe new-----------------------------------------*/
#customers {
    border-collapse: collapse;
    width: 100%;
	/*font-family:Microsoft Sans Serif;*/
	font-size:12px;
}

#customers td, #customers th {
    border:none;
    padding:3px 0 3px 10px;
	color:#666;
}

#customers tr:nth-child(even){background-color: #f7f9fb;}

/*#customers tr:hover {background-color: #ddd;}*/

#customers th {
    text-align: left;
    background-color: #ebf2f6;
    color:#666;
	font-size:13px;
	font-weight:normal;
}
/*------------------------------------------------end table------------------------------------*/
@media(min-width:768px) and (max-width:1023px){

	}
@media(max-width:767px){

}